{
    "extends": [
        "standard"
    ],
    "env": {
        "browser": true
    },
    "rules": {
        "semi": [
            "error",
            "always",
            {
                "omitLastInOneLineBlock": true
            }
        ],
        "space-before-function-paren": "off",
        "indent": "off"
    }
}